<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TestCrew App Automation Test Suite">

	<listeners>
		<listener class-name="com.testcrew.retryAnalyzer.RetryTransformer" />
	</listeners>

	<test thread-count="2" name="TestCrew Automation Test Framework">
		<classes>

			<class name="com.testcrew.testcases.ConfigTest" />
			<class name="com.testcrew.testcases.Segma_Test" />
		
		</classes>
	</test>
</suite><!-- Suite -->
